<p align="center">
  <a href="https://themes.lekoarts.de">
    <img alt="Gatsby Theme" src="https://img.lekoarts.de/gatsby/gatsby-themes-illustration.png" />
  </a>
</p>
<h1 align="center">
  @lekoarts/gatsby-theme-{{kebabCase name}}
</h1>

<p align="center">
  <a href="https://github.com/LekoArts/gatsby-themes/blob/master/LICENSE">
    <img src="https://img.shields.io/badge/license-MIT-blue.svg" alt="@lekoarts/gatsby-theme-{{kebabCase name}} is released under the MIT license." />
  </a>
  <a href="https://www.npmjs.org/package/@lekoarts/gatsby-theme-{{kebabCase name}}">
    <img src="https://img.shields.io/npm/v/@lekoarts/gatsby-theme-{{kebabCase name}}.svg" alt="Current npm package version." />
  </a>
  <a href="https://npmcharts.com/compare/@lekoarts/gatsby-theme-{{kebabCase name}}?minimal=true">
    <img src="https://img.shields.io/npm/dm/@lekoarts/gatsby-theme-{{kebabCase name}}.svg" alt="Downloads per month on npm." />
  </a>
  <a href="https://npmcharts.com/compare/@lekoarts/gatsby-theme-{{kebabCase name}}?minimal=true">
    <img src="https://img.shields.io/npm/dt/@lekoarts/gatsby-theme-{{kebabCase name}}.svg" alt="Total downloads on npm." />
  </a>
  <img src="https://img.shields.io/badge/PRs-welcome-brightgreen.svg" alt="PRs welcome!" />
  <a href="https://twitter.com/intent/follow?screen_name=lekoarts_de">
      <img src="https://img.shields.io/twitter/follow/lekoarts_de.svg?label=Follow%20@lekoarts_de" alt="Follow @lekoarts_de" />
    </a>
</p>

Show the live statuses of your Netlify and CircleCI builds on your website! Easily integrate the customizable components into your site and adapt them to your theme (utilizing Theme UI).

[**Demo Website**](https://{{kebabCase name}}.lekoarts.de) ([Source Code](https://github.com/LekoArts/{{kebabCase starter-name}}))

Also be sure to checkout other [Free & Open Source Gatsby Themes](https://themes.lekoarts.de)

## Features

- TODO

## Installation

```sh
npm install @lekoarts/gatsby-theme-{{kebabCase name}}
```

### Install as a starter

This will generate a new site that pre-configures use of the theme. Perfect for a single-page usage (e.g. `https://status.your-domain.tld`).

```sh
gatsby new {{kebabCase name}} LekoArts/{{kebabCase starter-name}}
```

[**View the starter's code**](https://github.com/LekoArts/{{kebabCase starter-name}})

## Usage

### Theme options

| Key              | Default Value | Description                                                                                                                           |
| ---------------- | ------------- | ------------------------------------------------------------------------------------------------------------------------------------- |
| `option` | `{}`          | text |

#### Example usage

```js
// gatsby-config.js
module.exports = {
  plugins: [
    {
      resolve: `@lekoarts/gatsby-theme-{{kebabCase name}}`,
      options: {
          // TODO
        }
      }
    }
  ]
};
```
